.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    flex-shrink: 0;
    padding: 0.375rem 0.75rem;
    border-radius: 8px;
    border: 1px solid transparent;
    background: none;
    font-size: 0.875rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.15s ease;
    transition-property: background-color, border-color, color, opacity;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.button[data-fill="true"] {
    width: 100%;
}

.button[data-variant="primary"] {
    background-color: var(--color-primary);
    color: var(--color-btn-text);
}

.button[data-variant="primary"]:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
}

.button[data-variant="secondary"] {
    background-color: transparent;
    color: var(--color-text);
    border-color: var(--color-border);
}

.button[data-variant="secondary"]:hover:not(:disabled) {
    background-color: var(--color-bg-secondary);
}

.button[data-variant="danger"] {
    border-color: var(--color-error);
    color: var(--color-error);
}

.button[data-variant="danger"]:hover:not(:disabled) {
    background-color: var(--color-error);
    color: var(--color-text);
}

.button[data-variant="link"] {
    background: none;
    padding: 0;
    color: var(--color-primary);
    border: none;
}

.button[data-variant="link"]:hover {
    text-decoration: underline;
}
