.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.filter-wrapper .end {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.table-wrapper {
    position: relative;
    flex: 1;
    border-radius: 8px;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--shadow-sm);
    overflow: auto;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.table tr {
    display: grid;
    grid-template-columns: 60px 1fr 1.5fr 60px;
}

.table th,
.table td {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    text-align: left;
}

.table th {
    background-color: var(--color-bg-tertiary);
    font-weight: 500;
    color: var(--color-text-secondary);
    border-bottom: 1px solid var(--color-divider);
}

.table td {
    border-bottom: 1px solid var(--color-divider);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:hover td {
    background-color: color-mix(in srgb, var(--color-primary) 6%, transparent);
}
